@import '~@angular/material/theming';

.mat-header-row{
  position: sticky;
  top: 0;
  z-index: 100;
  background: white;
}
.mat-table {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.mat-paginator {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
}
.mat-table * {
  position: relative;
}
.mat-header-row {
  height: 60px;
  background: #36304a;
}
.tableContainer{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.mat-header-cell {
  font-family: OpenSans-Regular;
  font-size: 18px;
  color: #fff;
  line-height: 1.2;
  font-weight: unset;
}
.mat-row {
  font-family: OpenSans-Regular;
  font-size: 15px;
  color: #808080;
  line-height: 1.2;
  font-weight: unset;
  height: 50px;
}
.mat-row:nth-child(even) {
  background-color: #f5f5f5;
}
.mat-row:hover {
  color: #555555;
  background-color: #f5f5f5;
  cursor: pointer;
}
.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-table100 {
  /*width: 100%;*/
  min-height: 91vh;
  background: #c850c0;
  background: -webkit-linear-gradient(45deg, #4158d0, #c850c0);
  background: -o-linear-gradient(45deg, #4158d0, #c850c0);
  background: -moz-linear-gradient(45deg, #4158d0, #c850c0);
  background: linear-gradient(45deg, #4158d0, #c850c0);

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 33px 30px;
}

.wrap-table100 {
  width: 1170px;
}
.cdk-overlay-pane {
  position: absolute;
}
.cdk-visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.mat-sort-header-container .cdk-visually-hidden{
  visibility: hidden;
}
